# Lines to add to your project's .gitignore file.
# Files from the Drupal scaffold for composer.
/.editorconfig
/.gitattributes
vendor/
web/core/
web/sites/default/files/
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.ht.router.php
web/.htaccess
web/example.gitignore
web/index.php
web/INSTALL.txt
web/README.txt
web/robots.txt
web/update.php
web/web.config
web/README.md
web/autoload.php
web/sites/README.txt
web/sites/development.services.yml
web/sites/example.settings.local.php
web/sites/example.sites.php
web/sites/default/default.services.yml
web/sites/default/default.settings.php
web/modules/README.txt
web/profiles/README.txt
web/themes/README.txt
